<!DOCTYPE html>
<html>
  <head>
    <title><%= mode.charAt(0).toUpperCase() + mode.slice(1); %></title>
    <link rel="stylesheet" href="./stylesheet/styles.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="content">
      <% if (mode === "home") {%> <%- include('partials/home',data) %> <% } else if
      (mode === "categories") {%> <%- include('partials/categories') %> <% }
      else if (mode === "new") {%> <%- include('partials/new') %> <% }%>
    </div>
  </body>
</html>
